<nav class="flex justify-between p-3 bg-slate-800 shadow">
  <a href="/" class="text-white">Beranda</a>
  <div class="flex gap-5 text-white">
    <a href="/user">User</a>
    <a href="/user">Profile</a>
  </div>
</nav>