<form action="/galeri" method="post" accept-charset="utf-8" enctype="multipart/form-data" class="flex mt-4 flex-col gap-2">
  <input type="file" name="file" id="foto" class="shadow-md p-1.5 rounded border" value="" />
  <span class="text-sm mt-2 text-slate-700">Deskripsi</span>
  <textarea name="deskripsi" id=deskripsi class="border shadow-md rounded p-2 border-slate-500"></textarea>
  <button type="submit" class="p-1.5 text-white text-sm bg-emerald-400">Upload</button>
</form>