<h1 class="text-2xl">Edit data</h1>

<a href="/user" class="inline-block my-2">Kembali</a>
<form action="/user/<%= user.id %>?_method=PUT" method="post" style="display: flex; align-items: start; flex-direction: column; gap: 1rem;">
  <input class="border rounded outline-none border-black p-2" type="text" name="nama" placeholder="Nama lengkap" autocomplete="off" value="<%= user.nama %>">
  <input class="border rounded outline-none border-black p-2" type="email" name="email" placeholder="Email" value="<%= user.email %>">
  <input class="border rounded outline-none border-black p-2" type="text" name="username" placeholder="username" autocomplete="off" value="<%= user.username %>">
  <button type="submit" class="p-2 rounded text-white text-xs bg-emerald-600">Update</button>
</form>